{% extends 'base.html.twig' %}

{% block header %}
    <h1>
        Career advice
        <small>List of all articles</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        <li class="active"><i class="fa fa-list"></i> Career advice</li>
    </ol>
{% endblock %}

{% block content %}
{% set queryParams = app.request.query.all %}
    <div class="row custom-content">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div class="col-xs-2">
                        <a href="{{ path('add_blog') }}" class="btn btn-success"><i class="fa fa-plus"></i></a>
                    </div>
                    <div class="col-xs-4">
                        <form method="post" action="{{path('view_list_blog')}}">
                            <div class="input-group input-group-sm">
                                <input class="form-control" type="text" name="query"/>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-info btn-flat">Search</button>
                                </span>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-offset-4 col-xs-2 text-right">
                        <form method="post">
                            <div class="input-group input-group-sm">
                                <select class="form-control" name="filter">
                                    <option value="">All</option>
                                    <option {% if filter == 'career-advice' %} selected {% endif %} value="career-advice">Career Advice</option>
                                    <option {% if filter == 'linkedin' %} selected {% endif %} value="linkedin">LinkedIn</option>
                                    <option {% if filter == 'interviewing' %} selected {% endif %} value="interviewing">Interviewing</option>
                                    <option {% if filter == 'job-search' %} selected {% endif %} value="job-search">Job Search</option>
                                    <option {% if filter == 'resume' %} selected {% endif %} value="resume">Resume</option>
                                    <option {% if filter == 'top-cateegory' %} selected {% endif %} value="top-category">Top category</option>
                                </select>
                                <span class="input-group-btn">
                                    <button type="submit" class="btn btn-info btn-flat">Apply</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="box-body">
                    {% if pages > 1 %}
                        {% include '@Admin/Admin/pagination.html.twig' with {'route': 'view_list_blog', 'filter': filter} %}
                    {% endif %}
                    <table class="table table-bordered table-striped dataTable">
                        <thead>
                            <tr>
                                {% if queryParams.sort_order is defined and queryParams.sort_order == 'desc' %}
                                  <th class="sort sorting_desc" data-sort-field="title" data-next-sort-order="asc">
                                    Title
                                  </th>
                                {% else %}
                                   <th class="sort sorting_asc" data-sort-field="title" data-next-sort-order="desc">Title</th>
                                {% endif %}
                              </a>
                                <th>
                                  Description
                                </th>
                                <th>Category</th>
                                <th>Status</th>
                                {% if (is_granted('ROLE_ADMIN_MANAGER')) %}
                                <th>Action</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                        {% for blog in blogs %}
                            {% for category in blog.category %}
                                {% set categories = category.title %}
                            {% endfor %}

                            <tr>
                                <td><a href="{{ path('edit_blog', {'blog': blog.id}) }}">{{ blog.title }}</a></td>
                                <td>{{ blog.description }}</td>
                                <td>
                                    {% set num_blogs = blog.category | length %}

                                    {% if num_blogs != 0 %}
                                        {% if num_blogs > 1 %}
                                            {% set categories = [] %}

                                            {% for category in blog.category %}
                                                {% set categories = categories|merge([category.title]) %}
                                            {% endfor %}

                                            {{ categories | join(', ') }}
                                        {% else %}
                                            {{ blog.category.first.title }}
                                        {% endif %}
                                    {% else %}
                                        No services
                                    {% endif %}
                                </td>
                                <td>{{ blog.status }}</td>
                                {% if (is_granted('ROLE_ADMIN_MANAGER')) %}
                                  <td class="text-center">
                                    <a class="btn btn-danger btn-sm" href="{{ path('delete_blog', {'blog': blog.id, 'page': current, 'filter': filter}) }}"><i class="fa fa-trash"></i></a>
                                  </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    {% if pages > 1 %}
                        {% include '@Admin/Admin/pagination.html.twig' with {'route': 'view_list_blog', 'filter': filter} %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
{% block javascripts %}
  <script>
   {% set currentPath = path(app.request.attributes.get('_route'),
                       app.request.attributes.get('_route_params')) %}
   $(document).ready(function() {
     var path = "{{currentPath}}";
     $(document).on('click', '.sort', function() {
       path = path + '?sort_field=' + $(this).data('sort-field') + '&sort_order=' + $(this).data('next-sort-order');
       window.location.href = path
     })
   })
  </script>
{% endblock %}
