{% if filter is not defined %}
{% set filter = null %}
{% endif %}
<div class="text-center">
<ul class="pagination pagination-sm">
    {% set queryParams = app.request.query.all %}
    {% set queryParams = queryParams|merge(app.request.request.all) %}
    {% set sortField = 'post_date' %}
    {% set sortOrder = 'desc' %}

    {% if queryParams.sort_field is defined %}
      {% set sortField = queryParams.sort_field %}
    {% endif %}

    {% if queryParams.sort_order is defined %}
      {% set sortOrder = queryParams.sort_order %}
    {% endif %}

    <li {{ current == 1 ? 'class="disabled"' }}>
      {% if queryParams.query is defined %}
        <a href="{{ path(route, {page: current - 1 < 1 ? 1 : current -1, filter: filter, query: queryParams.query, sort_field: sortField, sort_order: sortOrder}) }}">«</a>
      {% else %}
        <a href="{{ path(route, {page: current - 1 < 1 ? 1 : current -1, filter: filter, sort_field: sortField, sort_order: sortOrder}) }}">«</a>
      {% endif %}
    </li>

    {% for i in 1..pages %}
        <li {{ current == i ? 'class="active"' }}>
          {% if queryParams.query is defined %}
            <a href="{{ path(route, {page: i, filter: filter, query: queryParams.query, sort_field: sortField, sort_order: sortOrder}) }}">{{ i }}</a>
          {% else %}
            <a href="{{ path(route, {page: i, filter: filter, sort_field: sortField, sort_order: sortOrder}) }}">{{ i }}</a>
          {% endif %}
        </li>
    {% endfor %}

    <li {{ current == pages ? 'class="disabled"' }}>
          {% if queryParams.query is defined %}
            <a href="{{ path(route, {page: current + 1 <= pages ? current + 1 : current, filter: filter, query: queryParams.query, sort_field: sortField, sort_order: sortOrder}) }}">»</a>
          {% else %}
            <a href="{{ path(route, {page: current + 1 <= pages ? current + 1 : current, filter: filter, sort_field: sortField, sort_order: sortOrder}) }}">»</a>
          {% endif %}
    </li>
</ul>
</div>
