{% extends 'base.html.twig' %}

{% block sub_title %}Templates{% endblock %}
{% block sub_small_title %}List of all templates{% endblock %}

{% block breadcrumb %}
    <li class="active"><i class="fa fa-file"></i> Templates</li>
{% endblock %}

{% block content %}
    <div class="row custom-content">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    {% set count = 12 - templates | length %}
                {% for template in templates %}
                    <div class="col-lg-2 col-md-4 col-sm-6 text-center">
                        <div class="pull-right">
                            <a class="btn btn-box-tool" href="{{ path('template_remove', {'template': template.id}) }}">
                                <i class="fa fa-times"></i>
                            </a>
                        </div>
                        <div style="max-width: 100px; max-height: 100px; overflow: hidden; margin: 0 auto">
                        <a href="{{ path('template_link', {'template': template.id}) }}">
                            <img src="{{ vich_uploader_asset(template, 'preview') }}" alt="{{ template.name }}" style="height: 95px;" />
                            {#<img src="{{ asset('bundles/admin/images/publications.png') }}" style="height: 100px;">#}
                            <p>{{ template.name }}</p>
                        </a>
                        </div>
                    </div>
                {% endfor %}

                {% if count != 0 %}
                {% for i in 1..count %}
                    <div class="col-lg-2 col-md-4 col-sm-6 text-center">
                        <img src="{{ asset('bundles/admin/images/plus.png') }}" style="height: 100px;">
                        <p>No file</p>
                    </div>
                {% endfor %}
                {% endif %}
                </div>
            </div>

            {% if count != 0 %}
            <div class="box box-primary">
                    {{ form_start(form) }}
                    <div class="box-body">
                        {% if form_errors(form) %}
                            <div class="alert alert-danger">{{ form_errors(form.template) }}</div>
                        {% endif %}
                        <div class="form-group">
                            <div class="col-sm-6">{{ form_row(form.template) }}</div>
                            <div class="col-sm-6">{{ form_row(form.preview) }}</div>
                        </div>
                    </div>
                    <div class="box-footer">
                        {{ form_widget(form.submit) }}
                    </div>
                    {{ form_end(form) }}
            </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
