{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/admin/css/chat.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/plugins/CustomFileInputs/css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/admin/plugins/CustomFileInputs/css/component.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.8.1/css/perfect-scrollbar.min.css" />

    <style>
        .inputfile {
            width: 0.1px;
            height: 0.1px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
        }
        .container.collapse {
            width: auto;
         }
     #profile_profile_career_preferences_relocation_type input[type='radio'] {
         margin-right: 5px;
     }
     #profile_profile_career_preferences_relocation_type label {
         margin-right: 5px;
     }
    </style>
{% endblock %}

{% block sub_title %}Profile{% endblock %}
{% block sub_small_title %}{% endblock %}

{% block breadcrumb %}
    <li class="active"><i class="fa fa-user"></i> User</li>
{% endblock %}

{% block content %}
    <div class="row custom-content">
        <div class="col-md-12">
            <a class="btn btn-primary" href="{{ path('user_jobs', {'user': user.id}) }}">User Jobs</a>
        </div>
        <hr>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
            {{ form_start(form) }}
            <div class="form-group">
                <div class="box-group" id="accordion">
                    <div class="panel box box-primary">
                        <div class="box-header with-border">
                            <h4 class="box-title"><a data-toggle="collapse" data-parent="#accordion" href="#profile">
                            {{ form_label(form) }}
                            </a></h4>
                        </div>
                        <div id="profile" class="panel-collapse collapse in">
                            <div class="box-body">
                                {{ form_row(form.full_name) }}
                                {{ form_row(form.email) }}
                                {{ form_row(form.profile.phone_number) }}
                                {{ form_row(form.profile.street_address) }}
                                {{ form_row(form.profile.city) }}
                                {{ form_row(form.profile.state) }}
                                {{ form_row(form.profile.postal_code) }}
                                {{ form_row(form.profile.birthDate) }}
                                {{ form_row(form.profile.linkedin_url) }}
                            </div>
                        </div>
                        <div class="box-header with-border">
                            <h4 class="box-title"><a data-toggle="collapse" data-parent="#accordion" href="#job">
                                    <label class="required">Career Preferences</label>
                                </a></h4>
                        </div>
                        <div id="job" class="panel-collapse collapse">
                            <div class="box-body">
                                {{ form_row(form.profile.career_preferences) }}
                            </div>
                        </div>

                        <div class="box-header with-border">
                            <h4 class="box-title"><a data-toggle="collapse" data-parent="#accordion" href="#educationAndWorkExperience">
                                    <label class="required">Education & Work Experience</label>
                                </a></h4>
                        </div>
                        <div id="educationAndWorkExperience" class="panel-collapse collapse">
                            <div class="box-body">
                                {% for education in form.profile.education %}
                                    <div class="box-header with-border">
                                        <div class="box-body">
                                            {{ form_row(education, {'label': false}) }}
                                        </div>
                                    </div>
                                {% else %}
                                    {{ form_row(form.profile.education, {'label': false}) }}
                                    No education
                                {% endfor %}
                                <hr>
                                {% for work_experience in form.profile.work_experience %}
                                <div class="box-header">
                                    <div class="box-body">
                                        {{ form_row(work_experience, {'label': false}) }}
                                    </div>
                                </div>
                                {% else %}
                                    {{ form_row(form.profile.work_experience, {'label': false}) }}
                                    No work experience
                                {% endfor %}
                            </div>
                        </div>
                        <div class="box-header with-border">
                            <h4 class="box-title"><a data-toggle="collapse" data-parent="#accordion" href="#reference">
                                    <label class="required">Reference</label>
                                </a></h4>
                        </div>
                        <div id="reference" class="panel-collapse collapse">
                            <div class="box-body">
                                {% for user_reference in form.profile.user_reference %}
                                    <div class="box-header">
                                        <div class="box-body">
                                            {{ form_row(user_reference, {'label': false}) }}
                                        </div>
                                    </div>
                                {% else %}
                                    {{ form_row(form.profile.user_reference, {'label': false}) }}
                                    No reference
                                {% endfor %}
                            </div>
                        </div>
                        <div class="box-header with-border">
                            <h4 class="box-title"><a data-toggle="collapse" data-parent="#accordion" href="#questions">
                                    <label class="required">EEOC Questions</label>
                                </a></h4>
                        </div>
                        <div id="questions" class="container panel-collapse collapse">

                                {% for fields in form.profile.questions %}
                                    {{ form_label(fields) }}
                            <div class="box-body">
                                {% if fields[0] is defined %}
                                    {% for field in fields %}
                                    {{ form_widget(field) }}
                                    {{ form_label(field) }}
                                    <div class="clearfix"></div>
                                    {% endfor %}
                                {% else %}
                                    {{ form_widget(fields) }}
                                {% endif %}
                            </div>
                                {% endfor %}

                        </div>
                        {{ form_end(form) }}
                        <div class="box-header with-border">
                            <h4 class="box-title"><a data-toggle="collapse" data-parent="#accordion" href="#documents">
                                    <label class="required">Documents</label>
                                </a></h4>
                        </div>
                        <div id="documents" class="panel-collapse collapse">
                            <div class="box-body">
                                {{ form_start(file_form, {'action': path('admin_user_documents_add', {'user': user.id })}) }}
                                <div class="form-group">
                                <div>{{ form_row(file_form.type) }}</div>
                                    <div>{{ form_row(file_form.document) }}</div>
                                </div>
                                <div class="form-group">
                                {{ form_row(file_form.submit, {'label': false}) }}
                                </div>
                                {{ form_end(file_form) }}
                                <hr>
                                {% if user.profile.documents[0] is defined %}
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Document Name</th>
                                            <th>Document Type</th>
                                            <th>Added By</th>
                                            <th>Date Added</th>
                                            <th>Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for document in user.profile.documents %}
                                        <tr>
                                            <td><a href="{{ path('admin_user_documents_download', {'document': document.id}) }}">{{ document.name }}</td>
                                            <td>{{ document.type }}</td>
                                            <td>{{ document.addedBy }}</td>
                                            <td>{{ document.dateAdded | date('n/d/y') }}</td>
                                            <td class="text-center"><a href="{{ path('admin_user_documents_remove', {'document': document.id}) }}"><i class="fa fa-close"></i></a></td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    No documents
                                {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="box-header with-border">
                            <h4 class="box-title"><a data-toggle="collapse" data-parent="#accordion" href="#orders">
                                    <label class="required">Orders</label>
                                </a></h4>
                        </div>
                        <div id="orders" class="panel-collapse collapse">
                            <div class="box-body">
                                {% if user.packages[0] is defined %}
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Plan</th>
                                            <th>Price</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for package in user.packages %}
                                        <tr>
                                            <td>{{ package.service.name }}</td>
                                            <td>{{ package.plan }}{% if package.service.link == 'career-finder' %}%{% endif %}</td>
                                            <td>{{ package.price }}</td>
                                            <td class="text-center">
                                            {% if package.isApproved %}
                                            <a href="#" class="btn btn-success approve" disabled="disabled">Completed</a>
                                            <a href="#" class="btn btn-danger cancel"
                                            data-toggle="modal"
                                            data-target="#modal-cancel"
                                            data-url="{{ path('admin_order_status', {'order': package.id, 'status': 'cancel'}) }}">Cancel</a>
                                            {% else %}
                                            <a href="#" class="btn btn-success approve"
                                            data-toggle="modal"
                                            data-target="#modal-approve"
                                            data-url="{{ path('admin_order_status', {'order': package.id, 'status': 'completed'}) }}">Complete</a>
                                            <a href="#" class="btn btn-danger cancel"
                                            data-toggle="modal"
                                            data-target="#modal-cancel"
                                            data-url="{{ path('admin_order_status', {'order': package.id, 'status': 'cancel'}) }}">Cancel</a>
                                            {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    No documents
                                {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

            <div class="col-md-4">
                <div class="box box-primary direct-chat direct-chat-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Direct Chat</h3>
                    </div>
                    <div class="box-body">
                        <div class="chat">
                            <div class="chat-messages">
                            {% for key, group in messages %}
                              <div class="message-group" data-date="{{key}}">
                                <div class="message-group-date">
                                  {% if key == "now"|date("Y-d-m")%}
                                    Today
                                  {% elseif key == "now"|date_modify("-1 day")|date("Y-d-m")  %}
                                    Yesterday
                                  {% else %}
                                    {{ group[0].date|date("F jS")}}
                                  {% endif %}
                                </div>
                                {% for message in group %}
                                  {% if message.author != user.id %}
                                    {% set class = 'sms-sender' %}
                                  {% else %}
                                    {% set class = 'sms-recipient' %}
                                  {% endif %}
                                  <div class="row media {{ class }}" id="message-{{ message.id }}">
                                    <div class="col-sm-10">
                                      <div class="media-body">
                                        {% if message.attachmentName is not null %}
                                          <i class="fa fa-paperclip fa-lg"></i>
                                          <a href="{{ path('admin_chat_attachment_download', {'message': message.id}) }}">{{ message.attachmentName }}</a>
                                        {% else %}
                                          {{ message.message|striptags('<a>')|raw|nl2br }}
                                        {% endif %}
                                      </div>
                                      <div class="message-date" data-utc-date="{{message.date|date('Y-m-d H:i:s', 'GMT+0')}}">
                                        {{ message.date|date("g:i A") }}
                                      </div>
                                    </div>
                                  </div>
                                {% endfor %}
                              </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="input-group">
                            <div class="input-group-btn">
                              <form>
                                <input type="file" id="attachment" accept=".pdf, .doc, .docx, .rtf, .txt, .jpg, .jpeg, .png" class="inputfile inputfile-3" data-href="{{ path('admin_message_send', {'user': user.id}) }}" />
                                    <label for="attachment" style="margin-bottom: 0; color: #0c0c0c;">
                                        <i class="fa fa-paperclip fa-lg"></i>
                                </label>
                              </form>
                            </div>
                            <textarea type="text" name="message" id="direct-chat-message" placeholder="Type Message ..." class="form-control" autofocus ></textarea>
                            <span class="input-group-btn">
                                <button type="button" id="direct-chat-send" class="btn btn-primary btn-flat">Send</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

    {#Modals#}

    <div class="modal modal-success fade" id="modal-approve" style="display: none;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">??</span></button>
                <h4 class="modal-title">Approve Order</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to complete this order?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancel</button>
                <a href="#" class="btn btn-outline">Confirm</a>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>

        <div class="modal modal-danger fade" id="modal-cancel" style="display: none;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">??</span></button>
                <h4 class="modal-title">Cancel Order</h4>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to cancel this order?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancel</button>
                <a href="#" class="btn btn-outline">Confirm</a>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/admin/plugins/CustomFileInputs/js/custom-file-input.js') }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.perfect-scrollbar/0.8.1/js/perfect-scrollbar.jquery.min.js"></script>
<script>
    $('.approve').on('click', function(e) {
        var url = $(this).data('url');
        $(".modal-footer a").attr('href', url);
    });

    $('.cancel').on('click', function(e) {
        var url = $(this).data('url');
        $(".modal-footer a").attr('href', url);
    });

    function deleteMessage(id) {
        var url = '{{ path('admin_message_delete', {'message': 'message_id'}) }}';
        url = url.replace('message_id', id);

        $.ajax({
            url:  url,
            type: "POST",
            dataType: 'text',
            cache: false,
            contentType: false,
            processData: false,
            success: function (resp) {
                $('#message-'+id).remove();
            },
            error: function() {
                getErrorNoty('File not found');
            }
        });

        return false;
    }

    function getCurrentDate()
    {
       var today = new Date();
       var dd = today.getDate();
       var mm = today.getMonth() + 1;

       var yyyy = today.getFullYear();
       if(dd<10) {
          dd='0'+dd;
       } 
       if(mm<10){
          mm='0'+mm;
       } 
       var today = yyyy + '-' + dd + '-' + mm;

       return today;
    }

    function formatAMPM(date) {
      var hours = date.getHours();
      var minutes = date.getMinutes();
      var ampm = hours >= 12 ? 'PM' : 'AM';
      hours = hours % 12;
      hours = hours ? hours : 12; 
      minutes = minutes < 10 ? '0'+minutes : minutes;
      var strTime = hours + ':' + minutes + ' ' + ampm;

      return strTime;
    }

    $(document).ready(function(){

      $('.chat').perfectScrollbar({
        wheelSpeed: 1,
        minScrollbarLength: 20
      });

      $('.chat').scrollTop($('.chat')[0].scrollHeight)

      $.each($('.message-date'), function () {
        var utcDate = moment.utc($(this).data('utc-date'));
        var localDate = utcDate.local();
        $(this).html(formatAMPM(localDate.toDate()))

      })
        var attachment = null;

        $('.direct-chat-send').attr('disabled', true);

          $(document).on('keydown', '#direct-chat-message', function (e) {
            if (e.keyCode === 13 && !e.shiftKey) {
              e.preventDefault();
            }
          });

          $(document).on('keyup', '#direct-chat-message', function (e) {
            e = e || window.event;
            var $this = $('#direct-chat-message')
            if ((e.keyCode === 13 && !e.shiftKey) && ($this.val().length !== 0 || attachment)) {
              if (attachment) {
                 sendMessage(attachment);
              } else {
                 sendMessage({message: $this.val()});
              }
            }
        });

        $('#direct-chat-send').click(function () {
            if ($('#direct-chat-message').val().length !== 0 || attachment) {
                if (attachment) {
                   sendMessage(attachment);
                } else {
                   sendMessage({message: $('#direct-chat-message').val()});
                }
            }
        });

        $(document).on('click', '.has-attachment', function(e) {
            e.preventDefault();
            $('#attachment').wrap('<form>').closest('form').get(0).reset();
            $('#attachment').unwrap();
            attachment = null;
            $(this).find('i').addClass('fa-paperclip').removeClass('fa-trash');
            $(this).removeClass('has-attachment')
            $('#attachment').prop('disabled', false)
            $('#direct-chat-message').prop('disabled', false)
            $('#direct-chat-message').val('')
        })

        $(document).on('change', '.inputfile', function() {
            if ($(this)[0].files[0]) {
                var data = new FormData();
                var url = $(this).attr('data-href');
                data.append('attachment', $(this)[0].files[0]);

                attachment = data;

                $(this).parent().find('i').removeClass('fa-paperclip').addClass('fa-trash');
                $(this).prop('disabled', true)
                $(this).parent().addClass('has-attachment')
                $('#direct-chat-message').val($(this)[0].files[0].name)
                $('#direct-chat-message').prop('disabled', true)
            }
        });

        function sendMessage(data) {
          if (!data.message) {
            $.ajaxSetup({
              dataType: 'text',
              cache: false,
              contentType: false,
              processData: false,
            })
          } else {
            data = JSON.stringify(data)
            $.ajaxSetup({
              dataType: 'json',
              cache: false,
              contentType: 'application/json',
              processData: true,
            })
          }

          $.ajax({
                method: "POST",
                url: "{{ path('admin_message_send', {'user': user.id}) }}",
                data: data,
                success: function (resp) {
                    var html;

                    var $messageGroup = $('.chat-messages').find('.message-group[data-date="' + getCurrentDate() + '"]')

                    if (!$messageGroup.length) {
                      var $messageGroup = $('<div class="message-group" data-date="' + getCurrentDate() + '"><div class="message-group-date">Today</div></div>')
                      $('.chat-messages').append($messageGroup)
                    }

                    if (resp.message) {
                        var message = resp.message.replace(/(?:\r\n|\r|\n)/g, '<br />');

                        html = '<div class="row media sms-sender"><div class="col-sm-10"><div class="media-body">'
                           + message +
                             '</div><div>' + formatAMPM(new Date()) + '</div></div></div>';

                        $messageGroup.append(html)
                    } else {
                        resp = jQuery.parseJSON(resp)

                      html = '<div class="row media sms-sender" id="message-'+resp.message_id+'"><div class="col-sm-10"><div class="media-body">' +
                             '<i class="fa fa-paperclip fa-lg"></i> ' +
                             '<a href="' + resp.download_link + '">' + resp.attachment_name +
                            '</a></div><div>' + formatAMPM(new Date()) + '</div></div></div>';

                        $messageGroup.append(html)
                    }
                    $('.chat').animate({scrollTop: $('.chat')[0].scrollHeight})

                    $('#direct-chat-message').val('');
                    $('.direct-chat-send').attr('disabled', false);
                    getSuccessNoty('Message send');

                    attachment = null;
                    $("#attachment").parent().find('i').addClass('fa-paperclip').removeClass('fa-trash');
                    $("#attachment").parent().removeClass('has-attachment')
                    $('#attachment').prop('disabled', false)
                    $('#direct-chat-message').prop('disabled', false)
                    $('#direct-chat-message').val('')

                },
                error: function(resp) {
                    var data = JSON.parse(resp.responseText);
                    getErrorNoty(data.message);
                }
            })
        }

        (function worker() {
            $.ajax({
                url: '{{ path('admin_message_get', {'user': user.id}) }}',
                success: function(resp) {
                    if (resp.length !== 0) {
                        data = JSON.parse(resp);

                        var $messageGroup = $('.chat-messages').find('.message-group[data-date="' + getCurrentDate() + '"]')

                        if (!$messageGroup.length) {
                          var $messageGroup = $('<div class="message-group" data-date="' + getCurrentDate() + '"><div class="message-group-date">Today</div></div>')
                          $('.chat-messages').append($messageGroup)
                        }

                        data.forEach(function (message) {
                          if (message.attachment_name) {
                            html = '<div class="row media sms-recipient" id="message-'+message.message_id+'"><div class="col-sm-10"><div class="media-body">' +
                                   '<i class="fa fa-paperclip fa-lg"></i> ' +
                                   '<a href="' + message.download_link + '">' + message.attachment_name +
                                   '</a></div><div>' + formatAMPM(new Date()) + '</div></div></div>';

                            $messageGroup.append(html)
                          } else {
                            var html = '<div class="row media sms-recipient"><div class="col-sm-10"><div class="media-body">'
                                     + message.message +
                                       '</div><div>' + formatAMPM(new Date()) + '</div></div></div>';

                            $messageGroup.append(html)
                          }

                            $('.chat').animate({scrollTop: $('.chat')[0].scrollHeight})
                        });
                    }
                },
                complete: function() {
                    setTimeout(worker, 5000);
                }
            });
        })();
    });
</script>
{% endblock %}
