<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MESSAGE NOTIFICATION!</title>
</head>
<body>
<div style="height:100%;margin:0;padding:64px 0 32px;width:100%;background-color:#f6f6f6">
    <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%"
           id="m_-3141771474128944262bodyTable"
           style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#f6f6f6">
        <tr>
            <td align="center" valign="top" id="m_-3141771474128944262bodyCell"
                style="height:100%;margin:0;padding:0!important;width:100%;border-top:0">

                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-3141771474128944262templateContainer"
                       style="border-collapse:collapse;border:0;max-width:600px!important">
                    <tr>
                        <td valign="top" id="m_-3141771474128944262templateHeader"
                            style="background:#08618d none no-repeat center/cover;background-color:#08618d;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:0px;padding-bottom:0px;padding:0!important">
                            <table align="left" border="0" cellpadding="0" cellspacing="0"
                                   style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%"
                                   class="m_-3141771474128944262mcnTextContentContainer">
                                <tr>
                                    <td valign="top" class="m_-3141771474128944262mcnTextContent"
                                        style="padding:0px 18px 9px;text-align:center;word-break:break-word;color:#202020;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:150%">
                                        <div class="m_-3141771474128944262monLogo" style="padding:15px 0 0">
                                            <a class="m_7255741052842161902monLogoLink"
                                               href="{{web_app_url}}"
                                               style="display:inline-block;color:#2d2d2d;font-weight:normal;text-decoration:underline"
                                               target="_blank"
                                               data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://findmyprofession.us12.list-manage1.com/track/click?u%3Dd65332cb2735cb137a3dd477b%26id%3D25094c999c%26e%3Dafd37b2524&amp;source=gmail&amp;ust=1500725624404000&amp;usg=AFQjCNEXGfVhOc0r5SjFI9eGGbP1wgcr6A">
                                                <img align="none"
                                                     src="https://ci3.googleusercontent.com/proxy/hohH381H3uHADh0UE3FzaImqddxL3uw8ekCo716ZaWqJC0uz5hPVOPMWil5ZvL8cWNcvxuvqwBH_XRrIFjYoIyJjPUXg4D1wo8WxqHIAaepQnF-CbLvDxG9zD7WgFd5Uk6PVkucf5DDIyBVJlX8LMwp0EdsTAgGLvslia90=s0-d-e1-ft#https://gallery.mailchimp.com/d65332cb2735cb137a3dd477b/images/1a3b2e26-d0d0-4249-a8bc-4ed87932e173.png"
                                                     style="width:210px;height:65px;margin:0px;border:0;outline:none;text-decoration:none;display:inline-block;max-width:100%"
                                                     class="CToWUd">
                                            </a>
                                            <div class="a6S" dir="ltr" style="opacity: 0.01; left: 851.5px; top: 109px;">
                                                <div id=":5p7" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button" tabindex="0"
                                                     aria-label="Скачать файл " data-tooltip-class="a1V" data-tooltip="Скачать">
                                                    <div class="aSK J-J5-Ji aYr"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" id="m_-3141771474128944262templateBody"
                            style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:2px none #eaeaea;padding-top:0px;padding-bottom:0px;padding:0!important">
                            <table align="left" border="0" cellpadding="0" cellspacing="0"
                                   style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%"
                                   class="m_-3141771474128944262mcnTextContentContainer">
                                <tr>
                                    <td valign="top" class="m_-3141771474128944262mcnTextContent"
                                        style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:150%;text-align:left;padding:0!important">
                                        <div class="m_-3141771474128944262monEmailContent" style="padding:31px 40px 12px">
                                            <h1
                                                    style="display:block;margin:0;padding:0;color:#08618d;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:24px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:center;text-transform:uppercase;margin-bottom:21px">
                                                Message Notification!</h1>
                                            <div class="m_-3141771474128944262monTextMin" style="padding:0 40px">
                                                <p class="m_-3141771474128944262monNewMessage"
                                                   style="margin:0 0 13px;padding:0;color:#202020;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:24px;text-align:left">
                                                    It seems you have a new message!</p>

                                                <div class="m_-3141771474128944262monAuthorDate"
                                                     style="font-size:16px;margin-bottom:27px;color:#6c6c6c!important">
                                                    <p
                                                            style="margin:0 0 20px;padding:0;color:#6c6c6c;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:20px;text-align:left;margin-bottom:0">
                                                        From: <span style="color:#1d1d1d;font-weight:700">{{ author.fullName }}</span></p>

                                                    <p class="m_-3141771474128944262monDate"
                                                       style="margin:0 0 20px;padding:0;color:#6c6c6c;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:12px;line-height:20px;text-align:left;margin-bottom:0">
                                                      {% if recipient.getTimezone %}
                                                        {{ message.date | date('h:i a, d M Y', recipient.getTimezone) }}
                                                      {% else %}
                                                        {{ message.date | date('h:i a, d M Y') }}
                                                      {% endif %}
                                                    </p>
                                                </div>
                                            </div>
                                            <p class="m_-3141771474128944262monTextMessage"
                                               style="margin:0 0 20px;padding:14px 40px 20px;border:1px solid #08618d;border-radius:25px 25px 25px 0;color:#202020;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:24px;text-align:left">
                                              {% if message.attachmentName is not null %}
                                                <a href="{{ web_app_url ~ path('download_attachment_by_path', {'attachment': message.getAttachmentPath}) }}">{{ message.attachmentName }}</a>
                                              {% else %}
                                                {{ message.message|trans|nl2br }}
                                              {% endif %}
                                            </p>
                                            <div class="m_-3141771474128944262monTextMin" style="padding:0 40px">
                                                <a class="m_-3141771474128944262monLinkButton"
                                                   href="{% if author.isAdmin %}{{ 'https://www.findmyprofession.com' ~ path('message_notification') }}{% else %}{{ 'https://www.findmyprofession.com' ~ path('view_user', {'user': author.id}) }}{% endif %}" style="box-sizing:border-box;min-width:174px;display:inline-block;background:#1dbff0;border:none;border-bottom:3px solid #14a4d0;border-radius:20px;padding:0 25px;font-size:18px;margin-bottom:17px;text-align:center;color:#fff!important;font-weight:700!important;text-decoration:none!important;line-height:41px!important">Reply</a>
                                                <p style="margin:0 0 20px;padding:0;color:#202020;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:24px;text-align:left">or respond directly by replying to this email</p>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td valign="top" id="m_-3141771474128944262templateFooter"
                            style="background:#e9f2f6 none no-repeat center/cover;background-color:#e9f2f6;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:0px;padding-bottom:0px;padding:0!important">
                            <table align="left" border="0" cellpadding="0" cellspacing="0"
                                   style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%"
                                   class="m_-3141771474128944262mcnTextContentContainer">
                                <tr>
                                    <td valign="top" class="m_-3141771474128944262mcnTextContent"
                                        style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#2d2d2d;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:200%;text-align:center;padding:0!important">
                                        <div class="m_-3141771474128944262monFooter" style="padding:4px 0 14px">
                                            <p class="m_-3141771474128944262monRegards"
                                               style="margin:10px 0;padding:0;margin-bottom:10px;color:#2d2d2d;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:25px!important;text-align:center">
                                                Best regards, <span style="display:block">Find My Profession Team</span></p>
                                            <ul class="m_-3141771474128944262monSocial"
                                                style="text-align:center;list-style:none;padding:6px 0 12px;margin:0 auto!important">
                                                <li style="display:inline-block;margin:0 2px">
                                                    <a class="m_-3141771474128944262monFacebook"
                                                       href="http://jelvix.us11.list-manage1.com/track/click?u=517e88be80f943073321525bf&amp;id=d8eb6f6055&amp;e=7dab6390d6"
                                                       style="background:url(https://ci4.googleusercontent.com/proxy/wtRkatYrRV5z9meupyUP__g1oEuYbHpzlqLoyEsga91eM_5Ur5KY15r_nLmR_StUTvwS_vSSxBkXKqRLxqxA_SgPmYaWd4G3P-skeXukuQKNB1pJcJjWEKn4ecK5ZeCIMfpPWMgGazjrVMQDQlv65x2rpMuGlKm_2iCVw5c=s0-d-e1-ft#https://gallery.mailchimp.com/d65332cb2735cb137a3dd477b/images/496d72cf-0c75-4c55-ba22-c500faf0c43d.png) center/100% no-repeat;display:inline-block;font-size:0;width:50px;height:50px;color:#1dbff0;font-weight:normal;text-decoration:underline"
                                                       target="_blank"
                                                       data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://jelvix.us11.list-manage1.com/track/click?u%3D517e88be80f943073321525bf%26id%3Dd8eb6f6055%26e%3D7dab6390d6&amp;source=gmail&amp;ust=1500664056816000&amp;usg=AFQjCNH3CeNjWDGMyDFXpNYl2iq3VM1MTw">
                                                        facebook
                                                    </a>
                                                </li>
                                                <li style="display:inline-block;margin:0 2px">
                                                    <a class="m_-3141771474128944262monTwitter"
                                                       href="http://jelvix.us11.list-manage.com/track/click?u=517e88be80f943073321525bf&amp;id=bd7c5fc702&amp;e=7dab6390d6"
                                                       style="background:url(https://ci4.googleusercontent.com/proxy/8TYXIRQuTlYnFmZGL4oONql5zaKRmUbi6mpaqAnE89usdvUc6eXi-usUyXUjo1flR3u2FNpksP1Dh20WdfXOqwH0da1HxajjYPaAfLeZq9LJ7qajC89Ydu6C6zt_1w4N7wQC_OrozzPmPhSlFdgYka2tMUV6DbrzT3S0qN4=s0-d-e1-ft#https://gallery.mailchimp.com/d65332cb2735cb137a3dd477b/images/bd99b150-48c0-4680-a9a9-7b71f4416387.png) center/100% no-repeat;display:inline-block;font-size:0;width:50px;height:50px;color:#1dbff0;font-weight:normal;text-decoration:underline"
                                                       target="_blank"
                                                       data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://jelvix.us11.list-manage.com/track/click?u%3D517e88be80f943073321525bf%26id%3Dbd7c5fc702%26e%3D7dab6390d6&amp;source=gmail&amp;ust=1500664056817000&amp;usg=AFQjCNEXz-o6nOoJSjqx0-RsMeFWTidwWw">'
                                                        twitter
                                                    </a>
                                                </li>
                                                <li style="display:inline-block;margin:0 2px">
                                                    <a class="m_-3141771474128944262monLinkedin"
                                                       href="http://jelvix.us11.list-manage.com/track/click?u=517e88be80f943073321525bf&amp;id=5efef6366e&amp;e=7dab6390d6"
                                                       style="background:url(https://ci4.googleusercontent.com/proxy/oUKl4P9FcaD0wcsTkAcRlrUwH6hzOv8XYm7CWA2XBIbfDwvykUbwibOBqNeHQAxRgtuve7w_tHwNRDaEo2znx_x9tvg1R5vJNl-vPCFvi0lHx2hRZSY8FAEd6p7hTcP_ZsvQByjF7b1ZwQ-foL7v9k8eQegW6zyykUx3rtM=s0-d-e1-ft#https://gallery.mailchimp.com/d65332cb2735cb137a3dd477b/images/94bd300c-a496-47dc-91e1-bf717231e3f6.png) center/100% no-repeat;display:inline-block;font-size:0;width:50px;height:50px;color:#1dbff0;font-weight:normal;text-decoration:underline"
                                                       target="_blank"
                                                       data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://jelvix.us11.list-manage.com/track/click?u%3D517e88be80f943073321525bf%26id%3D5efef6366e%26e%3D7dab6390d6&amp;source=gmail&amp;ust=1500664056817000&amp;usg=AFQjCNHQELZQR6A8A_OoG5e2rNpElmLWrw">
                                                        linkedin
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                </table>
            </td>
        </tr>
    </table>
</div>
</body>
</html>
