<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New order!</title>
</head>
<body style="height:100%;margin:0;padding:64px 0 32px;width:100%;background-color:#f6f6f6">
<table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-1884044338307600245templateContainer"
       style="border-collapse:collapse;border:0;max-width:600px!important; margin: 0 auto !important;">
    <tr>
        <td valign="top" class="m_-1884044338307600245mcnTextContent"
            style="background:#08618d none no-repeat center/cover;background-color:#08618d; padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#2d2d2d;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:150%;text-align:left;padding:0!important">
            <div class="m_-1884044338307600245monLogo" style="padding:15px 0 0;text-align:center"><a
                        class="m_-1884044338307600245monLogoLink"
                        href="{{web_app_url}}"
                        style="display:inline-block;color:#2d2d2d;font-weight:normal;text-decoration:underline"
                        target="_blank"
                        data-saferedirecturl="https://www.google.com/url?hl=ru&amp;q=http://findmyprofession.us12.list-manage.com/track/click?u%3Dd65332cb2735cb137a3dd477b%26id%3D4d10f527c4%26e%3Dafd37b2524&amp;source=gmail&amp;ust=1501080845876000&amp;usg=AFQjCNFoWIaZx48IPqfLb4kbb3eYWKC8fw"><img
                            align="none"
                            src="https://ci3.googleusercontent.com/proxy/hohH381H3uHADh0UE3FzaImqddxL3uw8ekCo716ZaWqJC0uz5hPVOPMWil5ZvL8cWNcvxuvqwBH_XRrIFjYoIyJjPUXg4D1wo8WxqHIAaepQnF-CbLvDxG9zD7WgFd5Uk6PVkucf5DDIyBVJlX8LMwp0EdsTAgGLvslia90=s0-d-e1-ft#https://gallery.mailchimp.com/d65332cb2735cb137a3dd477b/images/1a3b2e26-d0d0-4249-a8bc-4ed87932e173.png"
                            style="width:210px;height:65px;margin:0px;border:0;outline:none;text-decoration:none;display:inline-block;max-width:100%"
                            class="CToWUd"> </a></div>
        </td>
    </tr>
    <tr>
        <td valign="top" id="m_-1884044338307600245templateBody"
            style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:2px none #eaeaea;padding-top:0;padding-bottom:0px">
            <table align="left" border="0" cellpadding="0" cellspacing="0"
                   style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%"
                   class="m_-1884044338307600245mcnTextContentContainer">
                <tr>
                    <td valign="top" class="m_-1884044338307600245mcnTextContent"
                        style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left;padding:0!important">
                        <div class="m_-1884044338307600245monEmailContent" style="padding:31px 40px 12px">
                            <h1
                                    style="display:block;margin:0;padding:0;color:#08618d;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:24px;font-style:normal;font-weight:bold;line-height:125%;letter-spacing:normal;text-align:center;text-transform:uppercase;margin-bottom:21px">
                                New Order!</h1>
                            <div class="m_-1884044338307600245monTextMin" style="padding:0 15px">
                                <p
                                        style="margin:0 0 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                    Hey Admin,</p>
                                <p
                                        style="margin:0 0 20px;padding:0;color:#202020;font-family:Helvetica;font-size:16px;line-height:24px;text-align:left">
                                    A new order has been placed on the website. Please find the details of the order
                                    below:</p>
                            </div>
                            <table class="m_-1884044338307600245monTable"
                                   style="border-collapse:separate;margin-bottom:17px;border-spacing:4px;width:100%!important">
                                <thead>
                                <tr>
                                    <td class="m_-1884044338307600245monHead" colspan="2"
                                        style="background-color:#08618d;color:#fff;font-size:16px;padding:0 10px!important">
                                        Order Details
                                    </td>
                                </tr>
                                </thead>
                                <tbody style="font-size:14px">
                                <tr>
                                    <td class="m_-1884044338307600245monKey"
                                        style="background-color:#e9f2f6;width:123px!important;padding:5px 10px 5px 12px!important">
                                        First Name
                                    </td>
                                    <td class="m_-1884044338307600245monDefinition"
                                        style="background-color:#f6f6f6;padding:5px 19px!important">
                                        {{ user.fullName }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="m_-1884044338307600245monKey"
                                        style="background-color:#e9f2f6;width:123px!important;padding:5px 10px 5px 12px!important">
                                        Email
                                    </td>
                                    <td class="m_-1884044338307600245monDefinition"
                                        style="background-color:#f6f6f6;padding:5px 19px!important">
                                        {{ user.email }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="m_-1884044338307600245monKey"
                                        style="background-color:#e9f2f6;width:123px!important;padding:5px 10px 5px 12px!important">
                                        Phone
                                    </td>
                                    <td class="m_-1884044338307600245monDefinition"
                                        style="background-color:#f6f6f6;padding:5px 19px!important">
                                        {{ user.profile.phoneNumber }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="m_-1884044338307600245monKey"
                                        style="background-color:#e9f2f6;width:123px!important;padding:5px 10px 5px 12px!important">
                                        Total Amount
                                    </td>
                                    <td class="m_-1884044338307600245monDefinition"
                                        style="background-color:#f6f6f6;padding:5px 19px!important">
                                        $ {{ packages.payment_info.amount }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <table class="m_-1884044338307600245monTable"
                                   style="border-collapse:separate;margin-bottom:17px;border-spacing:4px;width:100%!important">
                                <thead>
                                <tr>
                                    <td class="m_-1884044338307600245monHead" colspan="2"
                                        style="background-color:#08618d;color:#fff;font-size:16px;padding:0 10px!important">
                                        Order Items Detail
                                    </td>
                                </tr>
                                </thead>
                                <tbody style="font-size:14px">
                                <tr>
                                    <td class="m_-1884044338307600245monKey"
                                        style="background-color:#e9f2f6;width:123px!important;padding:5px 10px 5px 12px!important">
                                        Service Package
                                    </td>
                                    <td class="m_-1884044338307600245monDefinition"
                                        style="background-color:#f6f6f6;padding:5px 19px!important">
                                        {% for package in packages.payer_basket %}
                                            {{ package.title }}
                                        {% endfor %}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="m_-1884044338307600245monKey"
                                        style="background-color:#e9f2f6;width:123px!important;padding:5px 10px 5px 12px!important">
                                        Price
                                    </td>
                                    <td class="m_-1884044338307600245monDefinition"
                                        style="background-color:#f6f6f6;padding:5px 19px!important">
                                        $ {{ packages.payment_info.amount }}
                                    </td>
                                </tr>
                                <tr>
                                    <td class="m_-1884044338307600245monKey"
                                        style="background-color:#e9f2f6;width:123px!important;padding:5px 10px 5px 12px!important">
                                        Quantity
                                    </td>
                                    <td class="m_-1884044338307600245monDefinition"
                                        style="background-color:#f6f6f6;padding:5px 19px!important">
                                        {{ packages.payer_basket | length }}
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top" class="m_-1884044338307600245mcnTextContent"
            style="background:#e9f2f6 none no-repeat center/cover;background-color:#e9f2f6; padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#2d2d2d;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:150%;text-align:center;padding:0!important">
            <div class="m_-1884044338307600245monFooter" style="padding:4px 0 14px">
                <p class="m_-1884044338307600245monRegards"
                   style="margin:10px 0;padding:0;margin-bottom:10px;color:#2d2d2d;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;line-height:25px!important;text-align:center">
                    Thank you!<span style="display:block">Find My Profession Team</span></p>
            </div>
        </td>
    </tr>
</table>
</body>
</html>
